.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  z-index: 999;
}

.popup-content {
  background: #fff;
  padding: 1.1rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.popup-content h2 {
  margin-bottom: 1.2rem;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
}

.popup-content form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.generate-button {
  width: 100%;
  padding: 0.55rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #444;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Quicksand", sans-serif;
}

.generate-button:hover {
  background: #ececec;
  font-family: "Quicksand", sans-serif;
}
.popup-buttons {
  display: flex;
  gap: 10px;
  margin-top: 1.5rem;
}

.popup-buttons button {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Quicksand", sans-serif;
}

.popup-buttons button[type="submit"] {
  background: var(--secondary-color-darker);
  color: #fff;
  border: none;
}

.popup-buttons button[type="submit"]:hover {
  background: var(--secondary-color-darker);
}

.popup-buttons button[type="button"] {
  background: #e5e5e5;
  color: #333;
  border: none;
}

.generated-code {
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--secondary-color-darker);
  font-size: 15px;
  letter-spacing: 0.5px;
}

.error-text {
  color: #d90429;
  font-size: 14px;
  margin: 8px 0;
  text-align: center;
}
