.sidebar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  border-right: 1.5px solid #c7c7c7;
}

.sidebar-title {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0rem;
  padding-bottom: 0;
}

.sidebar-subtitle {
  margin-top: 10px;
}

.sidebar-btn-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.sidebar-btn {
  padding: 0.6rem 1.2rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  align-self: center;
  width: fit-content;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 15px;
}

.sidebar-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.02);
}

.course-card {
  background-color: #adecb2;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.course-card:hover {
  background-color: #97de9d;
}

.course-empty {
  color: #999;
  font-style: italic;
  font-size: 16px;
}
