.course-page {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}

.course-container-wrapper {
  position: relative;
  margin-top: 2rem;
}

.tabs-header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}

.tab {
  padding: 0.5rem 1rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color-lighter);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 600;
}

.tab.active {
  background-color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color-darker);
  color: #000000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.course-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  padding: 1.5rem;
  min-height: 250px;
  position: relative;
  z-index: 1;
}

.tabs-content {
  padding-top: 1rem;
  min-height: 200px;
  color: #555;
  font-size: 1rem;
}

.course-page h1 {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.course-page h2 {
  font-weight: 400;
  margin-top: 10px;
  color: #555;
}
