@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --secondary-color: #96c9f8;
  --secondary-color-lighter: #cfe7fd;
  --secondary-color-darker: rgb(41, 118, 190);
  --side-bar-menu: #bfe0fe;

  --third-color: #f5c5d6;
  --fourth-color: #000000;
  --bg-color: #f9f8f8;
  --text-color: #333333;
  --black: black;
  --white: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
