name: Docker Build and Push

#Triggered on push to main, PR, manual
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

#Env vars
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    #Runs parallel for backend + frontend
    strategy:
      fail-fast: false
      matrix:
        include:
          - service: backend
            dockerfile: ./Docker/Backend.Dockerfile
            image_suffix: -backend
          - service: frontend
            dockerfile: ./Docker/Frontend.Dockerfile
            image_suffix: -frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      #Push to main tags: latest + SHA
      #PR tags: pr-number
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}${{ matrix.image_suffix }}
          tags: |
            type=ref, event=pr
            type=sha, enable={{is_default_branch}}
            type=raw, value=latest, enable={{is_default_branch}}

      #Build + push image (pr images not pushed)
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . 
          file: ${{ matrix.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}